<div class="page-item-wrap relative">
    <div class="page-item flex-both-center absolute"></div>
    <a target="_blank" class="page-item-each py-10 flex-both-center" href="{{this}}" data-id="261685" data-type="page_item">
        <img class="link-each-image" data-src="images/{{@key}}.png" src="images/{{@key}}.png" alt="{{@key}}"/>
        <span class="item-title text-center">{{@key}}</span>
    </a>
</div>